@model Rails.Models.Depot

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Depot</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullMaintenanceRoutines)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullMaintenanceRoutines)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuickMaintenanceRoutines)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuickMaintenanceRoutines)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullCleanRoutines)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullCleanRoutines)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuickCleanRoutines)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuickCleanRoutines)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
