@using Rails.Models
@model IEnumerable<Rails.Models.TrackViewModel>

@{
    ViewBag.Title = "Index";
    string column = "col-xs-2 col-sm-2";
    string scolumn = "col-xs-2 col-sm-2";
    var db = new ApplicationDbContext();
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="container-fluid">
    <div class="row track-row track-row-heading">
        <div class="@column">
            @Html.DisplayNameFor(model => model.Track.Number)
        </div>
        <div class="@column">
            @Html.DisplayNameFor(model => model.Track.DepotId)
        </div>
        <div class="@column">
            @Html.DisplayNameFor(model => model.Track.Length)
        </div>
        <div class="@column">
            @Html.DisplayNameFor(model => model.Accessible)
        </div>
        <div class="@column">
            @Html.DisplayNameFor(model => model.InOutTrack)
        </div>
    </div>
    <hr/>
    @foreach (var item in Model)
    {
        <div class="row track-row">
            <div class="@column">
                @Html.DisplayFor(modelItem => item.Track.Number)
            </div>
            <div class="@column">
                @Html.ActionLink(item.Depot.Depot.Name, "Details", "Depot", new
           {
               id = item.Depot.Depot.Id
           }, null)
            </div>
            <div class="@column">
                @Html.DisplayFor(modelItem => item.Track.Length)
            </div>
            <div class="@column">
                @Html.DisplayFor(modelItem => item.Accessible)
            </div>
            <div class="@column">
                @Html.DisplayFor(modelItem => item.InOutTrack)
            </div>
            <div class="col-xs-2 col-sm-2">
                @Html.ActionLink("Edit", "Edit", new { id = item.Track.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Track.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Track.Id })
            </div>
        </div>

        <div class="row track-row">
            <div class="@column col-xs-offset-2">
                Sectoren:
            </div>
            @Html.Partial("~/Views/Sector/_SectorList.cshtml", item.Sectors)
        </div>    
        
    }
</div>