@model IEnumerable<Rails.Models.EditUserViewModel>

@{
    ViewBag.Title = "All Users";
}

<h2>Here you will find every registered Rails user account.</h2>

<p>
    @Html.RouteLink("Create New", new {  controller = "Account", action = "Register" });
</p>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>@Html.DisplayNameFor(model => model.Name)</h2>
        </div>
        <div class="col-md-3">
            <h2>@Html.DisplayNameFor(model => model.Email)</h2>
        </div>
        <div class="col-md-3">
            <h2>@Html.DisplayNameFor(model => model.Role)</h2>
        </div>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            
            <div class="col-md-3">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(modelItem => item.Email)
            </div>
            <div class="col-md-3">
                @Html.DisplayFor(modelItem => item.Role.Name)
            </div>
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </div>
        }
    </div>

</div>
